/* everything in my styling will look so equal */
* {
    box-sizing: border-box;
}
body {
    background-color: #F4A261;
    font-family: Cambria;
}
.container {
    background-color: #FDF4E3;
    padding: 36px;
    max-width: 540px;
    border-radius: 12px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
    text-align: center;

}
 h1 {
    color: #264653;
}
.form-section {
    /* flexing colums to the right */
    display: flex;
    flex-direction: column;
    gap: 9px;
}
/* making inputs & button same width */
input[type="date"],button {
    width:100%;
    padding:12px;
    border-radius: 9px;
    border: 1px solid #ccc;
    font-size: 15px;
}
/* gender selection alignment */
.radio-group {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
/* male & female will feel like equal boxes */
.radio-group label {
    flex: 1;
    padding: 12px;
    border: 1px solid #91887a;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
}
/* Base btn creation */
.savannah-btn {
    background: #D4845A;
    color: #fff8ef;
    border: none;
    padding: 14px 32px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.2,0.9.0.4.1.1);
}
/* 3 gentle pulses */
.savannah-btn:hover {
    animation: pulse3 0.9s;
}