body {
    background-color: #F4A261;
    font-family: Cambria;
}
.container {
    background-color: #FAEDCD;
    padding: 36px;
    max-width: 540px;
    border-radius: 12px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
    text-align: center;

}
 h1 {
    color: #264653;
}
.form-section {
    /* flexing colums to the right */
    display: flex;
    flex-direction: column;
    gap: 9px;
}
/* making inputs & button same width */
input[type="date"],button {
    width:100%;
    padding:12px;
    border-radius: 9px;
    border: 1px solid #ccc;
    font-size: 15px;
}